* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    list-style: none;
}
.fc1 {
    color: #0F4C82;
}
.bc1 {
    background-color: #0F4C82;
}
.fc2 {
    color: #82C5FF;
}
.bc2 {
    background-color: #82C5FF;
}
.fc3 {
    color: #599DD9;
}
.bc3 {
    background-color: #599DD9;
}
.fc4 {
    color: #8C621D;
}
.bf4 {
    background-color: #8C621D;
}
.fc5 {
    color: #D9A759;
}
.bc5 {
    background-color: #D9A759;
}
body {
    background-color: #000000;
}

.white {
    background-color: rgb(255, 255, 255);
}
.black {
    color: black;
}
.font-black {
    color: black;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

section {
    padding: 30px 0 40px;
}
h2 {
    font-size: 32px;
    padding: 60px 0 30px;
}
header {
    height: 714px;
    font-size: 72px;
}
h1, h2, h3, h4, h5 {
    margin-left: 150px;
}

.icons {
    width: 60px;
    border-radius: 30%;
    padding: 10px;
}


.bg-pan-left {
    display: flex;
}
.hd-text {
}
.hd-img {
    margin: auto 5%;
}

.hd-img img {
    width: 300px;
}

.light-inner {
    text-align: center;
}

.light-inner svg {
    cursor: pointer;
}

.light-click {
    height: 50px;
}

.light-click p {
    font-size: 20px;
}

.light-inner label {
    font-size: 20px;
}
.light img {
    width: 60px;
}

.hd-text ul {
    width: 650px;
}

.who_inner {
    display: flex;
    justify-content: center;
}

.who_text {
    padding-right: 8%;
}

.who_text ul {
    text-align: center;
}

.who_text img {
    width: 400px;
}

.who_ul {
    margin-left: 3%;
    font-size: 21px;
    line-height: 250%;
}


.tech-label {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 90%;
    margin: 0 auto;
}

.tech-label div {
    width: 80px;
    margin: 0 auto;
    text-align: center;
}


.had-ti {
    width: 100%;
}

.had-ti div {
    margin: 0 auto;
}

.had-ul {
    display: flex;
    justify-content: center;
    
}

.had-ul li {
    margin: 1% 6%;
}

.had-con {
    height: 600px;
    text-align: center;
    padding: 3% 0 5%;
}

.had-con > div {
    display: none;
}

.had-con .active {
    display: block;
}

.ft-ul {
    display: flex;
    justify-content: center;
}

.ft-ul li {
    margin: 0 3%;
}

.ft-copy {
    text-align: center;
}



.had-con  {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

.had-con .active {
}

.active img, video {
    width: 100%;
}

.img2 img {
}